/* ----------------
 質問ページ
 ---------------- */
body#question-page{
    background: #f9f9f3;
}
/* -- 質問の見出し -- */
#quiz-title{
    margin-top: 24px;
    margin-bottom: 24px;
    font-size: 24px;
    color: #990000;
    text-align: center;
}
/* -- 質問の文章 -- */
#question-title{
    font-size: 16px;
    border: 1px solid #990000;
    background: #ffffff;
    padding:16px;
    border-radius: 10px;
    line-height: 1.5;
    margin-bottom: 40px;
}
/* -- 質問の見出し -- */
#ul-select.text{
    list-style-type: none;
    padding: 0;
}

/* -- 質問の選択肢全体(文章を選ぶ質問) -- */
#ul-select.text{
    background: #e2cccc;
    padding: 8px 4px;
    border-radius: 4px;
}

/* -- 質問の各選択肢（文章を選ぶ質問） --*/
#ul-select.text li{
    color: #ffffff;
    line-height: 1.2;
    border: 2px solid #990000;
    border-radius: 4px;
    background: #ec9090;
    padding: 10px 16px;
    margin-bottom: 8px;
}

/* -- 質問の最後の選択肢（文章を選ぶ質問） --*/
#ul-select.text li:last-child{
    margin-bottom: 0px;
}


/* -- 質問の選択肢全体(画像を選ぶ質問) -- */
#ul-select.image{
    list-style-type: none;
    padding: 8px;
    background: #cdfaff;
}

/* -- 質問の各選択肢（画像を選ぶ質問） --*/
#ul-select.image li{
    display: inline-block;
    width: 49%;
    padding: 5px;
}

/* -- 質問の各選択肢（画像を選ぶ質問）の画像 --*/
#ul-select.image li .choice-image{
    max-width: 100%;
    border: 2px solid #cccccc;
    border-radius: 6px;
}


/* ----------------
 診断結果ページ
 ---------------- */
body#result-page{
    background: #fff0f9;
}

/* -- 診断結果の見出し -- */
#result-title{
    font-size: 22px;
}

/* -- 診断結果の画像の外枠 -- */
#result-image{
    margin-bottom: 10px;
    border: 4px double #ff0000;
}

/* -- 診断結果の画像 -- */
#result-image img{
    max-width: 100%;
}

/* -- 診断結果の説明文 -- */
#result-text{
    margin-bottom: 36px;
}

/* -- 問題ページへ戻るボタン -- */
#nav-center{
    text-align: center;
    margin-bottom: 40px;
}